.hero {
    background: url('../assets/lap.jpeg') no-repeat center center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }
  
  .hero-content h1 {
    font-size: 4rem;
    margin: 0;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4E5ED0;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
  }
  

  .hh {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s forwards;
    animation-delay: 0.5s;

  }
  
  
  .d1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 4px;
  }



@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.super-button {
  position: relative;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 15px 30px;
  background-color: #090808;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.super-button .button-text {
  position: relative;
  z-index: 1;
}

.super-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: #151212;
  transition: width 0.3s ease, height 0.3s ease, top 0.3s ease, left 0.3s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  color: white;
}

.super-button:hover {
  background-color: #f8f8f8;
  transform: scale(1.1);
  color: black;
}

.super-button:hover::before {
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
}

.super-button:focus {
  outline: none;
}

.super-button:active {
  transform: scale(0.98);
}
